[run]
source = .
omit =
    */migrations/*
    */__init__.py
    */apps.py
    */admin.py
    manage.py
    core/settings.py
    core/wsgi.py
    core/asgi.py
    core/urls.py
    conftest.py
    */tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING: